---
import MainLayout from '@layouts/MainLayout.astro';
import PostCard from '@components/PostCard.astro';

import { organizeAllPosts } from '@utils/index.js';
const allPosts = await Astro.glob('./*.md');
const organizedAllPosts = organizeAllPosts(allPosts, { limit: 5 });
---

<MainLayout title='blog' description='文章們'>
  <section class='container' aria-label='New Blog Posts'>
    <div class='post-container'>
      {organizedAllPosts.map((p) => <PostCard frontmatter={p.frontmatter} url={p.url} />)}
    </div>
  </section>
</MainLayout>

<script>
  // import dayjs from 'dayjs';
  // const now = dayjs();
  // const a = dayjs('2023-02-24');
  // console.log('🚀 ~ a:', a);
  // console.log(now.isBefore(a));
</script>
