---
import { PostCard } from '@components/index.astro';
import MainLayout from '@layouts/MainLayout.astro';

import { organizeAllPosts, slugify } from '@utils/index.js';

// 動態產生 category 列表
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const allCategory = [...new Set(allPosts.map((p) => p.frontmatter.category).flat())];
  return allCategory.map((c) => ({
    params: { category: slugify(c) },
    props: { name: c },
  }));
}

// 動態頁面資訊
const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob('../posts/*.md');
const organizedAllPosts = organizeAllPosts(allPosts, { category });
---

<MainLayout title='blog' description='文章們'>
  <section class='container' aria-label='New Blog Posts'>
    <h1>{name}</h1>
    <div class='post-container'>
      {organizedAllPosts.map((p) => <PostCard frontmatter={p.frontmatter} url={p.url} />)}
    </div>
  </section>
</MainLayout>
