---
import { PostCard } from '@components/index.astro';
import MainLayout from '@layouts/MainLayout.astro';

import { organizeAllPosts, slugify } from '@utils/index.js';

import authorData from '@constants/authorData';

// 動態產生 author 列表
export async function getStaticPaths() {
  return authorData.map((author) => ({
    params: { author: slugify(author.name) },
    props: { author: author.name }
  }));
}

// 動態頁面資訊
const { author } = Astro.props;
const allPosts = await Astro.glob('../posts/*.mdx');
const organizedAllPosts = organizeAllPosts(allPosts, { author });
---

<MainLayout title="blog" description="作者頁">
  <section class="container" aria-label="New Blog Posts">
    <h1>{author}</h1>
    <div class="post-container">
      {organizedAllPosts.map((p) => <PostCard frontmatter={p.frontmatter} url={p.url} />)}
    </div>
  </section>
</MainLayout>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
  AOS.init({
    duration: 900
  });
</script>
