---
import { PostCard } from '@components/index.astro';
import MainLayout from '@layouts/MainLayout.astro';
import AuthorAside from '@components/AuthorAside.astro';

import { organizeAllPosts, slugify } from '@utils/index.js';

import authorData from '@constants/authorData';

// 動態產生 author 列表
export async function getStaticPaths() {
  return authorData.map((author) => ({
    params: { author: slugify(author.name) },
    props: { author: author.name, data: author }
  }));
}

// 動態頁面資訊
const { author, data } = Astro.props;
const allPosts = await Astro.glob('../posts/**/*.mdx');
const organizedAllPosts = organizeAllPosts(allPosts, { author });
---

<MainLayout title="blog" description="作者頁" hasFooter={false}>
  <section class="flex h-[calc(100vh_-_81px)]" aria-label="New Blog Posts">
    <AuthorAside data={data} />
    <div id="horizontal-box" class="w-4/5 overflow-x-scroll px-10 flex items-center">
      <div class="flex gap-5 items-center">
        {
          organizedAllPosts.map((p) => (
            <PostCard
              frontmatter={p.frontmatter}
              url={p.url}
              optionalClass="w-[268px] h-[368px] sm:w-[384px] sm:h-[468px]"
            />
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
  AOS.init({
    duration: 900
  });
</script>
<script>
  // turn vertical scroll to horizontal
  const horizontalBox = document.querySelector('#horizontal-box');
  horizontalBox.addEventListener('wheel', function (e: WheelEvent) {
    e.preventDefault();
    this.scrollLeft += e.deltaY + e.deltaX;
  });
</script>
