---
import Link from '@components/Link.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title='404' description='沒有這頁'>
  <div class='container absolute top-[40%]'>
    <h1 class='h1 text-center mb-5'>OOPS! <br> PAGE NOT FOUND</h1>
    <a class='block text-center' href='/'>回首頁</a>
  </div>
</MainLayout>
