---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>
      Astro
      <span>GOGO</span>
    </h1>
  </body>
</html>

<style lang='scss'>
  h1 {
    color: #cac;
    span {
      color: forestgreen;
    }
  }
</style>
