---
// component imports
import MainLayout from '@layouts/MainLayout.astro';
import { Image } from '@astrojs/image/components';
import { commonDayFormatter, organizeAllPosts } from '@utils/index';

const allPosts = await Astro.glob('../pages/posts/*.mdx');

const latestPosts = organizeAllPosts(allPosts, { limit: 1 }).at(0).frontmatter;
---

<MainLayout title="Shozzle">
  <div>
    <div class="w-fit typewriter relative left-2/4 -translate-x-2/4 mb-10">
      <h1 class="text-xl font-orbitron font-normal">
        Shozzle, a frontend Technology Sharing Blog.
      </h1>
    </div>
    <div class="">
      <Image
        src="/images/home.jpg"
        alt="Shozzle"
        width={1000}
        height={undefined}
        aspectRatio={5 / 2}
        format="avif"
        class="w-full max-w-[1200px] mx-auto opacity-90"
      />
    </div>
    <!-- 最新一篇文 -->
    <div class="max-w-[1200px] mx-auto -mt-[15vh]">
      <div class="relative w-fit max-w-[520px] bg-white p-10 z-1 shadow-lg">
        <div>
          <small>{commonDayFormatter(latestPosts.date)}</small>
        </div>
        <h3 class="mb-4">{latestPosts.title}</h3>

        <p class="text-sm">{latestPosts.description}</p>
      </div>
    </div>
  </div>
</MainLayout>
