@import '_break-point.sass'
@import '_variables.sass'
@import '_reset.sass'
@import '_dark-mode-switcher.sass'
@import '_arrow-animation.sass'
@import '_hamburger-animation.sass'

.navbar
  position: relative
  border-bottom: 1px solid $clr_soft
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 2rem
  .logo
    @include lg 
      margin: 0 auto
    a
      font-size: 42px
      padding: 1rem 0 0
      display: flex
      align-items: end
      margin: 0 0 -0.5rem
      font-weight: $fw_bold
      @include lg 
        padding: 1rem 0
  ul
    display: flex
    @include lg 
      display: none
    li
      border-left:1px solid $clr_soft
      &:hover
        a
          color: $clr_primary
      a
        height: 5rem
        padding: 1rem 2rem 1rem 9rem
        display: flex
        align-items: end
        color: $clr_soft
        transition: $transition
  .theme-controller
    position: relative
    width: 200px

.menu
  display: none
  @include lg
    display: block 
    position: fixed
    right: -100%
    bottom: 0
    width: 100%
    height: calc( 100vh - 67px )
    background: #fff
    z-index: 2
    transition: $transition-1
    &.is-active
      right: 0
    ul
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 3rem 0
      gap: 1rem
      li
        padding: 2rem 0
        a
          font-size: $fs_fluid_m

.badge
  border: 1px solid $clr_soft
  border-radius: $radius_f
  padding: 3px 6px
  color: $clr_secondary
  display: inline-block
  &:hover
    color: $clr_primary
  
.card
  position: relative
  border: 1px solid $clr_soft
  padding: 2.5rem 2.5rem  1.25rem 2.5rem
  border-radius: $radius_m
  display: flex
  flex-direction: column
  justify-content: space-between
  @include md 
    padding: 1.75rem 1.75rem  1rem 1.75rem
  img
    object-fit: cover


.post-container 
  display: grid
  gap: 1.5rem
  grid-template-columns: repeat(3, 1fr)
  @include xl 
    grid-template-columns: repeat(2, 1fr)
  @include sm 
    grid-template-columns: repeat(1, 1fr)

/* post */
.post-content
  position: relative
  display: flex
  justify-content: space-evenly
  @include lg 
    flex-direction: column
  .content
    max-width: 780px
    padding: 1.5rem
    flex: 2
    h1
      font-size: clamp(1.94rem,1.69rem + 1.29vw,2.69rem)
      font-weight: 600
      line-height: 1.25
    @include lg 
      margin: 0 auto
    @include md 
      margin: unset
  .sidebar
    position: sticky
    top: 40px
    height: calc( 100vh - 120px)
    max-width: 368px
    padding: 1rem
    flex: 1
    display: flex
    flex-direction: column
    gap: 1rem
    border-left: 1px solid $clr_soft
    @include lg 
      border-right: unset
      position: unset
      top: unset
    .toc
      display: flex
      flex-direction: column
      gap: .5rem
      a
        color: $clr_secondary
        &:hover
          color: $clr_primary
    .categories
      display: flex
      flex-direction: column
      gap: .5rem
      a
        color: $clr_secondary
        &:hover
          color: $clr_primary
    
.progress 
  display: flex
  justify-content: flex-start
  border-radius: 100px
  align-items: center
  position: relative
  padding: 2px
  height: 10px
  width: 220px
  background-color: $clr_secondary
  transition: $transition

footer
  display: flex
  justify-content: center
  align-items: center
  min-height: 88px


// modules
// TOC
.toc

