

@import '_break-point.sass'
@import '_variables.sass'
@import '_reset.sass'
@import '_dark-mode-switcher.sass'
@import '_arrow-animation.sass'
@import '_hamburger-animation.sass'
@import '_typing-animation.css'

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  p
    @apply leading-loose
  li
    @apply leading-loose

@layer utilities
  .f-center
    @apply flex justify-center items-center
  .sky-border 
    @apply border border-solid border-sky-400
  .card-border
    @apply border border-solid border-[#f0f0f0]
  .card-padding
    @apply pt-10 pb-5 px-10 md:pt-7 pb-4 px-7


.navbar
  position: relative
  border-bottom: 1px solid $clr_soft
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 2rem
  .logo
    @include lg 
      margin: 0 auto
    a
      font-size: 42px
      padding: 1rem 0 0
      display: flex
      align-items: flex-end
      margin: 0 0 -0.5rem
      font-weight: $fw_bold
      @include lg 
        padding: 1rem 0

.menu
  display: none
  @include lg
    display: block 
    position: fixed
    right: -100%
    bottom: 0
    width: 100%
    height: calc( 100vh - 67px )
    background: #fff
    z-index: 2
    transition: $transition-1
    &.is-active
      right: 0
    ul
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 3rem 0
      gap: 1rem
      li
        padding: 2rem 0
        a
          font-size: $fs_fluid_m

.badge
  border: 1px solid $clr_soft
  border-radius: $radius_f
  padding: 3px 6px
  color: $clr_secondary
  display: inline-block
  &:hover
    color: $clr_primary
  
.card
  position: relative
  border: 1px solid $clr_soft
  padding: 2.5rem 2.5rem  1.25rem 2.5rem
  border-radius: $radius_m
  display: flex
  flex-direction: column
  justify-content: space-between
  @include md 
    padding: 1.75rem 1.75rem  1rem 1.75rem
  @include sm 
    padding: 1.25rem


.post-container 
  display: grid
  gap: 1.5rem
  grid-template-columns: repeat(3, 1fr)
  @include xl 
    grid-template-columns: repeat(2, 1fr)
  @include sm 
    grid-template-columns: repeat(1, 1fr)

/* post */
.post-content
  position: relative
  display: flex
  justify-content: space-evenly
  @include lg 
    flex-direction: column
  .content
    max-width: 780px
    padding: 1.5rem
    flex: 2
    h1
      font-size: clamp(1.94rem,1.69rem + 1.29vw,2.69rem)
      font-weight: 600
      line-height: 1.25
    @include lg 
      margin: 0 auto
    @include md 
      margin: unset