---
import { organizeAllPosts, slugify } from '@utils/index.js';

const allPosts = await Astro.glob('../pages/posts/*.md');
const organizedAllPosts = organizeAllPosts(allPosts);

const categoryBadges = [...new Set(organizedAllPosts.map((p) => p.frontmatter.category))];
---

<ul class='categories'>
  {
    categoryBadges.map((c) => (
      <li>
        <a class='badge' href={`/category/${slugify(c)}/`}>
          {c}
        </a>
      </li>
    ))
  }
</ul>
