---
// library imports
import { Icon } from 'astro-icon';

// component imports
import Link from '@components/Link.astro';

// data imports
import navData from '@constans/navData';
---
<nav class="navbar">
  <div class="logo">
    <a href="/">
      shozzle
    </a>
  </div>
  <ul>
    {
      navData.map((item) => (
        <li>
          <a
            href={item.path}
            data-navLink
          >
            {item.name}
          </a>
        </li>
        ))
    }
    <li class="theme-controller"> 
      <div id="sun-moon"></div>
    </li>  
  </ul>

</nav>

<script>
  
</script>
