---
// component imports
import { twMerge } from 'tailwind-merge';
import { TbPlayerTrackPrevFilled, TbPlayerTrackNextFilled } from 'react-icons/tb';
const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages" class="w-full gap-10 flex justify-center items-center pt-10 pb-5">
  <div class="w-[72px] h-[24px]">
    <a
      href={prevUrl || 'javascript:void(0)'}
      class={twMerge(
        'flex gap-2 items-center relative w-fit ',
        prevUrl &&
          "after:block after:content-[''] after:absolute after:h-[2px] after:bottom-0 after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right after:rounded-full",
        !prevUrl && 'text-gray-500 cursor-not-allowed'
      )}
    >
      <TbPlayerTrackPrevFilled />
      上一頁
    </a>
  </div>
  <div class="w-[72px] h-[24px]">
    <a
      href={nextUrl}
      class={twMerge(
        'flex gap-2 items-center relative w-fit ',
        nextUrl &&
          "after:block after:content-[''] after:absolute after:h-[2px] after:bottom-0 after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left after:rounded-full",
        !nextUrl && 'text-gray-500 cursor-not-allowed'
      )}
    >
      下一頁
      <TbPlayerTrackNextFilled />
    </a>
  </div>
</nav>
