---
interface HeadingProps {
  depth: number;
  text: string;
  slug: string;
  children: Array<HeadingProps>;
}

export type Props = {
  pageHeadings: Array<HeadingProps>;
};

const { pageHeadings } = Astro.props;
---

<ul class="toc">
  {
    pageHeadings?.map((item) => (
      <li>
        <a
          href={`#${item.slug}`}
          style={{ paddingInlineStart: item.depth === 3 ? '2rem' : 'none' }}
        >
          {item.text}
        </a>
        {item.children.length ? <Astro.self pageHeadings={item.children} /> : ''}
      </li>
    ))
  }
</ul>
