---
// style
// import '../style/global.css';
import '../style/global.sass';

import MainHead from './MainHead.astro';
import { Footer, Nav } from '@components/index.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <MainHead {title} {description} />
  <body class='min-h-screen flex flex-col'>
    <Nav />
    <main class="my-10 flex-1">
      <slot> Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
