---
// style
// import '../style/global.css';
import '../style/global.sass';

import MainHead from './MainHead.astro';
import { Footer, Nav } from '@components/index.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <MainHead {title} {description} />
  <body>
    <Nav />
    <main>
      <slot> Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
