---
// style
// import '../style/global.css';
import '../style/global.sass';

import MainHead from './MainHead.astro';
import { Footer, Menu, Nav } from '@components/index.astro';

const { title, description, hasFooter = true } = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body class="min-h-screen flex flex-col scroll-smooth">
    <Nav />
    <Menu />
    <main class="flex-1">
      <slot />
    </main>
    {hasFooter && <Footer />}
    <script>
      import '@scripts/menu.js';
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T5KFC25"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
